// Farbangaben

$color_first: rgb(56,56,56);
$color_second: orange;

$background_first: rgb(255,255,255);
$background_first: $color_second;
$background_second: $color_second;

// Schriftangaben

$font_base: 'Roboto', 'Helvetica Nueue', Arial, sans-serif;
$font_headline: $font_base;